{% extends 'country/base.html'%}
{% load static %}
{% block content %}

<div class="col-md-8" style="margin: auto">
  <div class="card">
      <div class="card-header" style="color: red; font-weight: bolder">
          Country Details
      </div>
      <div class="row">
          <div class="col-sm-8">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Name: {{countries.name}}</h5>
                      <p class="card-text">Alpha2Code: {{countries.alphacode2}}</p>
                      <p class="card-text">Capital: {{countries.capital}}</p>
                      <p class="card-text">Population: {{countries.population}}</p>
                      <p class="card-text">Timezone: {{countries.timezone}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <div class="card-body">
                      <img src="{{ object.flag_url }}" style="height: 210px; width: 210px;"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-success table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">Neighbour Countries</th>
                        <th scope="col">Languge</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            {% for nei in countries.ncountry.all%}
                               <td>{{nei.nname}}</td> 
                               <td>{{nei.nlanguages}}</td>
                            {% endfor %}
                                
                        </tr>     
                    </tbody>
                </table>
            </div>
        </div>


{% endblock %}